@import url('https://fonts.cdnfonts.com/css/super-guardian');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

/* 스크롤바 제거 */
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}
html, body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
  min-height: 100vh;
}

html{
  background-color: #040404;
  color: #40ed21;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  background-image: url(./back.png);
  background-repeat: space;
  background-size: 350px;;
}

input::placeholder {
 	color: #c4c7ca;
}

input::-webkit-input-placeholder{
 	color: #c4c7ca;
}

input:-ms-input-placeholder{
 	color: #c4c7ca;
}